*~
*#
makefile
Makefile
moc*
*.o
*.mat
*.tiff
.dvi
.log
*.pdf
.aux
.ps
manipulandumDisplay
fJ*.m
dynamicSimFile*.m
getAlpha*.m
*.png
*.jpg
*.dat
*.aux
*.out
*.log
*.gz
*.dvi
*.ps
*.bbl
*.blg
*.ps
Pictures/*
SfN Poster/*
matlab/sensitivityPaper/*
matlab/posterprep/*
matlab/figures/*
VREA2*
Targets_real
Day*/

!*.m
!*.bib
!*.tex
*raw.tex
Paper1

*.eps
*.odp
.asv

Paper1 (copy)/*
BasicCompensator-Reset2v2/*
