*~
*#
makefile
Makefile
moc*
*.o
*.mat
manipulandumDisplay
fJ*.m
dynamicSimFile*.m
getAlpha*.m
*.png
*.jpg
*.dat
Pictures/*
SfN Poster/*
BasicCompensator-Reset2v2/*
matlab/sensitivityPaper/*
matlab/posterprep/*
matlab/figures/*
Paper1
Paper2
!Paper2/toyExtract

!*.bib
!*.tex
*raw.tex

*.eps
*.odp
.asv